name: Build & Publish rust emscripten-wasm-eh sysroot
on:
  workflow_dispatch:
    inputs:
      emcc_version:
        description: Version of emcc to use
        required: true
      rust_nightly_date:
        description: Rust nightly date
        required: true

env:
  EMCC_VERSION: ${{ inputs.emcc_version }}
  RUST_NIGHTLY_DATE: ${{ inputs.rust_nightly_date }}

permissions: {}

jobs:
  pyodide-packages:
    name: Build & Publish rust emscripten-wasm-eh sysroot
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 360
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: free up disk space
        run: ./free-disk-space.sh

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12.8

      - name: Build Rust sysroot
        run: |
          ./main.sh ${EMCC_VERSION} ${RUST_NIGHTLY_DATE}

      - name: Sanity check
        run: |
          if [ ! -f emcc-${EMCC_VERSION}_nightly-${RUST_NIGHTLY_DATE}.tar.bz2 ]; then
            echo "emcc-${EMCC_VERSION}_nightly-${RUST_NIGHTLY_DATE}.tar.bz2 not found"
            exit 1
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: rust-emcc-sysroot-${{ github.run_id}}
          path: "*.tar.bz2"
          if-no-files-found: error

  publish:
    name: Publish rust emscripten-wasm-eh sysroot
    runs-on: ubuntu-latest
    needs: [pyodide-packages]
    permissions:
      # For attestations
      id-token: write
      attestations: write
      # For creating a release
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          merge-multiple: true

      - name: Generate artifact attestation(s)
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-path: "*.tar.bz2"

      - name: Create GitHub Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: "*.tar.bz2"
          tag: emcc-${{ env.EMCC_VERSION }}_nightly-${{ env.RUST_NIGHTLY_DATE }}
          draft: false
          prerelease: false
